<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Custom Rules" Description="This rule set contains my custom settings." ToolsVersion="16.0">
    <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
        <Rule Id="RCS1001" Action="None" />
        <Rule Id="RCS1003" Action="None" />
        <Rule Id="IDE0057" Action="None" />
        <Rule Id="IDE0074" Action="None" />
        <Rule Id="SYSLIB0014" Action="None" />
        <Rule Id="SYSLIB1045" Action="None" />
    </Rules>
</RuleSet>